.button {
  width: 300px;
  padding: 12px 0;
  margin-bottom: 30px;
  color: white;
  border: none;
  font-family: Futura, serif;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
}

.button-primary {
  background-color: #9013fe;
}

.button-secondary {
  background-color: #4a90e2;
}

.button-tertiary {
  background-color: #cd0162;
}

.button-teaser {
  text-align: left;
  padding-left: 24px;
  background-color: #646464;
  margin-top: 20px;
  letter-spacing: 2px;
}
