.stub {
  width: 680px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  max-width: 80vw;
}

.stub-title {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 0;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

.stub-image {
  width: 100%;
  margin-bottom: 30px;
}

.stub-teaser {
  letter-spacing: 2px;
}
