html {
  height: 100%;
}

body {
  background-color: #1d1d1d;
  height: 100%;
}

#root {
  height: 100%;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
}

.app {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 400px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Futura, serif;
  font-size: 18px;
}

.logo {
  max-width: 80vw;
}

.stub {
  width: 400px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Impact, serif;
  letter-spacing: 5px;
  text-decoration: underline;
  margin: 50px 0 20px 0;
}

.image {
  font-family: Impact, serif;
}

.teaser {
  letter-spacing: 2px;
}
