html {
  height: 100%;
}

body {
  background-color: #1d1d1d;
  height: 100%;
}

#root {
  height: 100%;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
}

.app {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 400px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Futura, serif;
  font-size: 18px;
}

.home-logo {
  max-width: 80vw;
}

.stub {
  width: 400px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Impact, serif;
  letter-spacing: 5px;
  text-decoration: underline;
  margin: 50px 0 20px 0;
}

.image {
  font-family: Impact, serif;
}

.teaser {
  letter-spacing: 2px;
}

.post-logo {
  width: 200px;
  height: 200px;
  max-width: 40vw;
  margin-bottom: 50px;
}

.gallery-title {
  margin-bottom: 10px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-image {
  width: 400px;
}

.gallery-image-container {
  margin-bottom: 50px;
}
