html {
  height: 100%;
}

body {
  background-color: #1d1d1d;
  height: 100%;
}

#root {
  height: 100%;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: unset;
  text-decoration: unset;
}

.app {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Futura, serif;
  font-size: 18px;
}

.logo {
  cursor: pointer;
}

.home-logo {
  max-width: 80vw;
}

.post-logo {
  width: 200px;
  height: 200px;
  max-width: 40vw;
  margin-bottom: 50px;
}

.stub {
  width: 400px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.stub-title {
  font-family: Impact, serif;
  letter-spacing: 5px;
  text-decoration: underline;
  cursor: pointer;
  margin: 50px 0 20px 0;
}

.stub-image {
  cursor: pointer;
  width: 400px;
  max-width: 80vw;
  margin-bottom: 30px;
}

.image {
  font-family: Impact, serif;
}

.teaser {
  letter-spacing: 2px;
}

.gallery-title {
  margin-bottom: 10px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-image {
  width: 400px;
}

.gallery-image-container {
  margin-bottom: 50px;
}

.button {
  width: 300px;
  padding: 12px;
  margin-bottom: 30px;
  color: white;
  border: none;
  font-family: Futura, serif;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 1px;
}

.button-primary {
  background-color: #9013FE;
}

.button-secondary {
  background-color: #4A90E2;
}

.button-tertiary {
  background-color: #CD0162;
}


